.chat-window {
  background-color: #111827; /* Dark background */
  color: white; /* Text color */
  border-radius: 8px; /* Rounded corners */
  padding: 16px;
  height: 100%; /* Full height */
  width: 100vw; /* Full height */

  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chat-profile-pic {
  border-radius: 50%; /* Circular profile picture */
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.chat-history {
  flex: 1; /* Takes available space */
  overflow-y: auto; /* Scrollable */
  margin-bottom: 10px;
}

.chat-message {
  margin-bottom: 5px;
}

.sent {
  text-align: right;
}

.received {
  text-align: left;
}

.chat-input-container {
  display: flex;
  align-items: center;
}

.chat-input {
  flex: 1; /* Takes available space */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.send-button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50; /* Green background */
  color: white; /* Text color */
  cursor: pointer;
}
